{% extends "layouts/base.html" %}

{% block title %} Page User {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Edit Profile</h5>
      </div>
      <div class="card-body">
        {% if messages %}
                {% for message in messages %}
                <div
                  class="alert {% if message.tags == 'error' %}alert-warning {% else %} alert-{{ message.tags }}{% endif %} mt-2"
                  role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                  {{message}}
                </div>
                {% endfor %}
        {% endif %}
        <form action="" method="POST">{% csrf_token %}
          <div class="row">
            <div class="col-md-6 pr-md-1">
              <div class="form-group">
                <label>First Name</label>
                {% if employee.user.id != request.user.id %}
                <input type="text" class="form-control" disabled="" value="{{employee.user.first_name}}">
                {% else %}
                <input type="text" class="form-control" value="{{employee.user.first_name}}" name="first_name" id="id_first_name">
                {% endif %}
              </div>
            </div>
            <div class="col-md-6 px-md-1">
              <div class="form-group">
                <label>Last Name</label>
                {% if employee.user.id != request.user.id %}
                <input type="text" class="form-control" disabled="" value="{{employee.user.last_name}}">
                {% else %}
                <input type="text" class="form-control" value="{{employee.user.last_name}}" name="last_name" id="id_last_name">
                {% endif %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-md-1">
              <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control text-info" disabled="" value="{{employee.user.email}}">
              </div>
            </div>
            <div class="col-md-6 pl-md-1">
              <div class="form-group">
                <label>Creation Date</label>
                <input type="text" class="form-control text-info" disabled="" value="{{employee.user.date_joined|date:'Y-m-d'}}">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-md-1">
              <div class="form-group">
                <label>Phone Number</label>
                {% if employee.user.id != request.user.id %}
                <input type="text" class="form-control text-info" disabled="" value="{{employee.phoneNumber}}">
                {% else %}
                <input type="text" class="form-control" value="{{employee.phoneNumber}}" name="phoneNumber" id="id_phoneNumber">
                {% endif %}
              </div>
            </div>
            <div class="col-md-6 pl-md-1">
              <div class="form-group">
                <label>Role</label>
                <input type="text" class="form-control text-info" disabled="" value="{{employee.user.groups.first}}">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-md-1">
              <div class="form-group">
                <label>Salary</label>
                <input type="text" class="form-control text-info" disabled="" value="{{employee.salary}}">
              </div>
            </div>
            <div class="col-md-6 pl-md-1">
              <div class="form-group">
                <label>Role</label>
                <input type="text" class="form-control text-info" disabled="" value="{{employee.user.groups.first}}">
              </div>
            </div>
          </div>
        </form>
      </div>
      {% if employee.user.id == request.user.id %}
      <div class="card-footer">
        <button type="submit" class="btn btn-fill btn-primary">Save</button>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% if role == 'staff' or request.user != employee.user %}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Task List</h5>
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Task ID</th>
              <th scope="col">Start Date</th>
              <th scope="col">End Date</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
            {% if tasks|length == 0 %}
            <td></td>
            <td>No Data</td>
            <td></td>
            <td></td>
            {% endif %}

            {% for tasks in tasks %}
            <tr>
                <td>{{tasks.id}}</td>
                <td>{{tasks.startTime}}</td>
                <td>{{tasks.endTime}}</td>
                <td>{{tasks.description}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
</div>
{% endif %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
