{% extends "layouts/base-fullscreen.html" %}

{% block title %} Login {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

      <div class="row">
          <div class="col-md-8 mx-auto">
            <div class="card">

              <form role="form" method="post" action="">{% csrf_token %}
              
                <div class="card-header text-center">
                  <h5 class="title">Login</h5>

                  <h6 class="card-category">
                      Add your credentials
                  </h6>
                </div>

                <div class="card-body">
                  {% if messages %}
                    {% for message in messages %}
                    <div
                      class="alert {% if message.tags == 'error' %}alert-warning {% else %} alert-{{ message.tags }}{% endif %} mx-auto w-50"
                      role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                      {{message}}
                    </div>
                    {% endfor %}
                  {% endif %}

                    <div class="row">

                      <div class="col-6 mx-auto">
                        <div class="form-group">
                          <label>Username</label>
                          <input class="form-control" id="username_login" name="username" required="" type="text" value="">
                        </div>
                      </div>

                    </div>
                    <div class="row">

                      <div class="col-6 mx-auto">
                        <div class="form-group">
                          <label>Password</label>
                          <input class="form-control" id="pwd_login" name="password" required="" type="password" value="">
                        </div>
                      </div>

                    </div>
                    
                </div>
                <div class="row card-footer">
                  <button type="submit" name="login" class="btn btn-primary mx-auto">Login</button>
                </div>

              </form>

            </div>
            Don't have an account? <a href="/register" class="text-primary">Create</a>
          </div>
      </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
