{% extends "layouts/base-fullscreen.html" %}

{% block title %} Register {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

        <div class="row">
          <div class="col-md-8 mx-auto">
            <div class="card">

              <form role="form" method="post" action="">{% csrf_token %}
              
                <div class="card-header text-center">
                  <h5 class="title">Register</h5>

                  <h6 class="card-category">
                      Add your credentials
                  </h6>
                </div>

                <div class="card-body">

                    <div class="row">
                      <div class="col-md-3 px-md-1 mx-auto">
                        <div class="form-group">
                          <label>Username</label>
                          {{form.username}}
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-3 px-md-1 mx-auto">
                        <div class="form-group">
                          <label>First Name</label>
                          {{form.firstName}}
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-3 px-md-1 mx-auto">
                        <div class="form-group">
                          <label>Last Name</label>
                          {{form.lastName}}
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-3 px-md-1 mx-auto">
                        <div class="form-group">
                          <label>Email</label>
                          {{form.email}}
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-3 px-md-1 mx-auto">
                        <div class="form-group">
                          <label>Phone</label>
                          <input class="form-control" type="tel" placeholder="5*********" name="phoneNumber" pattern="[0-9]{10}" maxlength="10"  required="">
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-3 px-md-1 mx-auto">
                        <div class="form-group">
                          <label>Password</label>
                          {{form.password1}}
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-3 px-md-1 mx-auto">
                        <div class="form-group">
                          <label>Confirm Password</label>
                          {{form.password2}}
                        </div>
                      </div>
                    </div>
                    
                </div>
                <div class="card-footer row">
                  <button type="submit" name="register" class="btn btn-fill btn-primary mx-auto">Register</button>
                </div>

              </form>

            </div>
            Have an account? <a href="/login" class="text-primary">Login</a>
          </div>
      </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
